docopt==0.6.2
setuptools==5.5.1
tornado==4.4.2
picamera==1.12
Pillow==4.1.1
https://github.com/samjabrahams/tensorflow-on-raspberry-pi/releases/download/v1.1.0/tensorflow-1.1.0-cp27-none-linux_armv7l.whl
keras==2.0.4
pyusb==1.0.0
configobj==5.0.6
